In [1]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier

In [2]:
df_train = pd.read_csv('./train.csv')
df_test = pd.read_csv('./test.csv')


df_train = df_train.drop(['month','day_of_week','poutcome'],axis=1)

# no : 0, yes: 1,unknown:-1
df_train['default'] = df_train['default'].map({'no':0,'yes':1,'unknown':-1})
df_train['housing'] = df_train['housing'].map({'no':0,'yes':1,'unknown':-1})
df_train['loan'] = df_train['loan'].map({'no':0,'yes':1,'unknown':-1})
df_train['y'] = df_train['y'].map({'no':0,'yes':1,'unknown':-1})

df_train['contact'] = df_train['contact'].map({'cellular':0,'telephone':1})

df_train['marital'] = df_train['marital'].map({'divorced':0,'married':1, 'single' : 2, 'unknown': -1})

df_train['education'] = df_train['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':-1})

df_train['job'] = df_train['job'].map({'admin.':0,'blue-collar':1,'entrepreneur':2,'housemaid':3,'management':4,'retired':5,'self-employed':6,'services':7,'student':8,'technician':9,'unemployed':10,'unknown':-1})

df_test = df_test.drop(['month','day_of_week','poutcome'],axis=1)

# no : 0, yes: 1,unknown:-1
df_test['default'] = df_test['default'].map({'no':0,'yes':1,'unknown':-1})
df_test['housing'] = df_test['housing'].map({'no':0,'yes':1,'unknown':-1})
df_test['loan'] = df_test['loan'].map({'no':0,'yes':1,'unknown':-1})


df_test['contact'] = df_test['contact'].map({'cellular':0,'telephone':1})

df_test['marital'] = df_test['marital'].map({'divorced':0,'married':1, 'single' : 2, 'unknown': -1})

df_test['education'] = df_test['education'].map({'basic.4y':0,'basic.6y':1,'basic.9y':2,'high.school':3,'illiterate':4,'professional.course':5,'university.degree':6,'unknown':-1})

df_test['job'] = df_test['job'].map({'admin.':0,'blue-collar':1,'entrepreneur':2,'housemaid':3,'management':4,'retired':5,'self-employed':6,'services':7,'student':8,'technician':9,'unemployed':10,'unknown':-1})

df_test.head(10)

,age,job,marital,education,default,housing,loan,contact,duration,campaign,pdays,previous,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed
0,49,4,0,6,0,0,0,0,144,5,999,0,1.4,93.918,-42.7,4.963,5228.1
1,31,0,-1,3,0,0,0,1,182,8,999,0,1.1,93.994,-36.4,4.858,5191.0
2,31,0,2,2,0,0,0,1,80,1,999,1,-1.8,92.893,-46.2,1.281,5099.1
3,60,0,1,3,0,1,1,0,482,2,999,0,-1.8,93.075,-47.1,1.365,5099.1
4,33,1,1,3,0,0,0,0,87,2,999,2,-1.8,93.075,-47.1,1.405,5099.1
5,41,6,1,6,0,1,0,1,796,1,999,0,1.1,93.994,-36.4,4.857,5191.0
6,45,7,1,5,0,1,0,1,221,1,999,0,1.1,93.994,-36.4,4.857,5191.0
7,29,7,0,3,0,0,1,1,251,11,999,0,1.1,93.994,-36.4,4.857,5191.0
8,39,10,1,6,0,0,0,1,132,2,999,0,1.4,94.465,-41.8,4.961,5228.1
9,35,0,1,3,-1,1,1,1,236,1,999,0,1.1,93.994,-36.4,4.857,5191.0

In [3]:
train_X = df_train.values[:,:-1]
train_y = df_train.values[:,-1]
test_X  = df_test.values

clf = DecisionTreeClassifier(random_state=0)
clf.fit(train_X, train_y)
predictions = clf.predict(test_X)

In [4]:
len(range(1,1120))

1119

In [6]:
result = np.c_[range(1,1121), predictions].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])

In [7]:
## index add a colums for indexes in the file
df_pred.to_csv('./predictions2.csv',index=False)

In [91]:
df_pred.head(10)

   Id  prediction
0   1           0
1   2           0
2   3           0
3   4           0
4   5           0
5   6           0
6   7           0
7   8           0
8   9           0
9  10           0

In [22]:
clf = RandomForestClassifier(n_estimators=1000)
clf.fit(train_X, train_y)
predictions = clf.predict(test_X)

In [23]:
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import matthews_corrcoef
clf = AdaBoostClassifier(n_estimators=1000)

clf.fit(train_X, train_y)
adaboost_prediction = clf.predict(test_X)

In [24]:
result_ada = np.c_[range(1,1121), adaboost_prediction].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])

In [25]:
## index add a colums for indexes in the file
df_pred.to_csv('./predictions_ada.csv',index=False)

In [26]:
from sklearn.ensemble import RandomForestClassifier

clf = RandomForestClassifier(n_estimators=1000)
clf.fit(train_X, train_y)
random_forest_prediction = clf.predict(test_X)
result_random = np.c_[range(1,1121), adaboost_prediction].astype(int)
df_pred = pd.DataFrame(result,columns=["Id","prediction"])
df_pred.to_csv('./predictions_random.csv',index=False)